@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.input {
  @apply w-full px-3 py-2 rounded-md border border-gray-300 
  focus:outline-none focus:ring-2 focus:ring-purple-500
  bg-white dark:bg-gray-800 
  text-gray-900 dark:text-gray-100
  placeholder-gray-400;
}